@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;800;900&display=swap");

@font-face {
  font-family: "Satoshi-Variable";
  src: url("./assets/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("./assets/fonts/Satoshi-Variable.woff") format("woff"),
    url("./assets/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

#clipped-profile {
  clip-path: url(#profileClip);
}

.custom-hidden {
  opacity: 0;
  filter: blur(8px);
  transform: translateX(-100%);
  transition: all 0.8s;
}

.custom-show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.project:nth-child(odd) {
  transition-delay: 100ms;
}

.project:nth-child(even) {
  transition-delay: 400ms;
}

@media (prefers-reduced-motion) {
  .custom-hidden {
    transition: none;
  }
}
